* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.titulo{
  margin-top: 20px;
}

h2{
    text-align: center;
}

.card {
  margin: 50px auto;
    width: 1200px;
    border: 3px solid rgb(0, 0, 0);
    padding: 15px;
    gap: 20px;
    background-color: aliceblue;
}

.left {
  display: flex;
}

.left div, .right div {
  align-content: center;
}

.titulo-card {
  margin-bottom: 20px;
}

.right {
  display: flex;
  flex-direction: row-reverse;
}

.metalha{
  margin-top: 100px;
  border-radius: 12px;
  margin-bottom: 100px;
  width: 600px;
}
.d1 {
  border-radius: 12px;
}
img{
    margin-top: 10px;
    width: 400px;
    height: 400px;
    font-size: 400px;
    border-radius: 400%;
    font-weight: 500px;
    display: block;
    margin: 0 auto;
    margin-top: 10 auto;
    box-shadow: 0px 0px 3px 4px;
    color: rgb(76, 79, 96);
}
p{
  text-align: center;
}
header {
  padding: 20px 80px;
  background-color:#3b6f34dc;
  width: 100%;
  border-bottom: 2px solid black;
  text-align: center;

}
nav{
     margin-left: auto;
}
footer{
    padding: 20px 80px;
    font-size: 30px;
    background-color: #3b6f34dc;
   border-top: 2px solid black;

}
div{

}
body{
    background-color: rgba(12, 116, 23, 0.623);
    font-family: 'inter', sans-serif
}
ul{
  margin-left: auto;
}
h3{
  text-align: center;
  margin-top: 10px;
}

